<p id="notice"><%= notice %></p>


<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'View all Customers', '/customers' %> |
<%= link_to 'View all Agents', '/agents' %> |
<%#= link_to 'Back', admins_path %>
