<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Seats Booked </th>
      <th>Tour Name </th>
      <th>Contact Agent </th>
      <th>Booking Status </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.seats_booked %> </td>
        <td><%= booking.tour.name %> </td>
        <td><%= booking.tour.agent.name %> </td>
        <% if booking.status == 1  %>
          <td><%= 'Confirmed' %> </td>
        <% else %>
          <td><%= 'Wait Listed' %> </td>
        <%end %>
<!--        <td><%#= link_to 'Show', booking %></td>-->
<!--        <td><%#= link_to 'Edit', edit_booking_path(booking) %></td>-->
        <td><%= link_to 'Delete Booking', "bookings/#{booking.id}/#{booking.tour.id}", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Booking', new_booking_path %>
<a href="javascript:history.back()" class="btn btn-default">Back</a>