<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'View Tours', tours_path%> |
<%= link_to 'View Bookings', bookings_path%> |
<%= link_to 'View Bookmarks', bookmarks_path %> |
<%= link_to 'View Reviews', review_path %><br><br>